.Membership {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 100vh;

    @media only screen and (max-width: 960px) {
        grid-template-columns: 1fr;
    }

    &__plans {
        padding: 4rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading{
            font-size: 2.5rem;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        &__plans{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 2rem;
            margin-top: 6rem;
            width: 100%;

            @media only screen and (max-width: 620px) {
                grid-template-columns: 1fr;
            }
        }
    }


    &__bg {
        background-image: linear-gradient(rgba(164, 0, 176, 0.507), rgba(164, 0, 176, 0.507)), url('../../assets/memberbg.png');
        background-position: center;
        background-size: cover;
        position: relative;

        @media only screen and (max-width: 960px) {
            grid-row: 1 / 2;
            height: 20rem;
        }

        h2 {
            color: white;
            font-weight: 600;
            font-size: 4rem;
            text-transform: uppercase;
            position: absolute;
            top: 60%;
            left: 2rem;

            @media only screen and (max-width: 960px) {
                top: 20%;
            }
        }
    }
}

.HideBg{
    grid-template-columns: 1fr;
}