@import '../../sass/global.scss';

.Plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
    width: 100%;

    @media only screen and (max-width: 620px) {
        margin-bottom: 4rem;
    }

    &__heading{
        font-size: 3rem;
        text-transform: uppercase;
    }

    &__period{
        font-size: 1.5rem;
        font-weight: 200;
        margin: .5rem 0;
    }

    &__details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 3rem;
        position: relative;
        @include shadow;
        max-width: 18rem;
        height: 100%;

    @media only screen and (max-width: 620px) {
        max-width: none;
        width: 100%;
        align-items: center;
        height: 30rem;
        justify-content: space-around;
        padding: 4rem 0;
    }

    &__sub{
        background-color: green;
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        position: absolute;
        top: -20%;
        left: 80%;
        z-index: 5;
        @include shadow;
    }

        p{
            font-size: 1.3rem;
            text-transform: capitalize;
            margin-top: 1rem;

            @media only screen and (max-width: 620px) {
                font-size: 2rem;
            }
        }

        button{
            align-self: center;
            position: absolute;
            left: 50%;
            top: 90%;
            transform: translateX(-50%);
            border: none;
            background-color: black;
            color: white;
            padding: 1rem 2rem;
            cursor: pointer;
            text-transform: uppercase;
            transition: all .2s;

            &:disabled{
                background-color: rgb(153, 153, 153);
                cursor: default;
            }

            
        }

        .pro{
            background-image: linear-gradient(to right, $purple, rgb(33, 119, 218));
            transition: all .2s;

            &:disabled{
                background-image: none;
                background-color: rgb(153, 153, 153);
                cursor: default;
            }

            &:disabled:hover{
                background-image: none;
                
            }



            &:hover{
                background-image:  linear-gradient(to right, $purple, $purple);
            }
        }
    }
}

.border{
    border: 1px solid green;
}