@import '../../sass/global.scss';

.Beats{
    display: flex;
    background-image: linear-gradient(to bottom,rgba(164, 0, 176, 0.507), rgb(97, 3, 104)), url('../../assets/memberbg.png');
    background-size: cover;
    background-position: center top;

    h2{
        color: white;
    }

    &__container{
        width: 100%;
        transition: .3s all;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__slider{
            position: relative;

            &__elements{
                width: 100%;
                position: absolute;
                z-index: 1;
                display: flex;
                flex-direction: column;
                height: 30rem;
                padding: 2rem 5rem;
                justify-content: space-between;

               &__upper{
                   display: flex;
                   justify-content: space-between;
                   

                   input{
                       border: none;
                       opacity: .6;
                       border-radius: 5rem;
                       height: 2.5rem;
                       padding: 0 1rem;
                   }

                   &__icons{
                       @media only screen and (max-width: 600px){
                        margin-bottom: 1rem;
                    }

                    .icons__social{
                        @media only screen and (max-width: 600px){
                            display: none;
                        }
                    }

                       &__icon{
                           fill: white;
                           width: 2rem;
                           height: 2rem;
                           margin-right: 2rem;
                           cursor: pointer;
                       }

                    .menu__icon{
                        cursor: pointer;
                        width: 3rem;
                        height: 3rem;
                        @media only screen and (min-width: 600px){
                            display: none;
                        }
                        
                    }
                   }
               } 

                &__lower{
                    
                    h2{
                        font-size: 5rem;
                        color: white;
                        text-transform: uppercase;
                        font-weight: 700;
                        margin-bottom: 1rem;
                    }

                    p{
                        color: white;
                        font-size: 3rem;
                        text-transform: capitalize;
                    }
                }
            }
        }

        &__beats{
            padding: 2rem 5rem;
            margin-bottom: 10rem;
            width: 100%;

            @media only screen and (max-width: 600px){
                padding: 2rem 1rem;
            }

            h2{
                text-transform: uppercase;
                font-size: 3rem;
                font-weight: 800;
                letter-spacing: 2px;
                margin-bottom: 2rem;
            }
        }
    }

    .pagination {
        margin-top: 2rem;

        &__list {
            display: flex;
            justify-content: space-between;
            list-style: none;


            &__item {
                margin: 0 .4rem;
                border: 1px solid $purple;
                padding: .3rem .6rem;
                text-decoration: none;
                font-size: 1.2rem;
                color: $purple;

                &__active {
                    background-color: $purple;
                    color: white;
                }
            }
        }
    }
}

.blur{
    filter: blur(.4rem);
}