.Beat {
    /*width: 19.1rem;
    height: 24.3rem;*/

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.47);
    -moz-box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.47);
    box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.47);
    border-radius: 1rem;
    position: relative;
    transition: .2s all;
    background-color: #fff;
    

    &:hover {
        img {

            filter: brightness(70%);
        }
    }

    &__img {
        width: 100%;
        min-height: 19rem;
        padding: .7rem;

        @media only screen and (max-width: 600px) {
            height: 8rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;


        }
    }

    &__details {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem .5rem;

        @media only screen and (max-width: 600px){
            padding: 1rem .5rem;
        }

        h3 {
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: .5rem;
            text-align: center;
        }
    }
}

.icon__heart, .icon__play {
    position: absolute;
    z-index: 5;
    cursor: pointer;
    transition: .2s all;

    svg {
        fill: white;
        width: 2.5rem;
        height: 2.5rem;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.icon__heart{
    left: 10%;
    top: 8%;
}

.icon__play{
    right: 10%;
    top: 8%;
}